[Unit]
Description=PPP link for wan0
Before=network.target

[Service]
ExecStartPre=ip link set dev wan0 up
ExecStart=/usr/sbin/pppd call wan0 nodetach nolog
ExecStopPost=ip link set dev wan0 down

[Install]
WantedBy=multi-user.target
